.switch-theme {
  all: unset;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  border-radius: 0.2rem;
  outline: 0.075rem solid var(--blue-100);
}

.switch-theme::after{
  position: absolute;
  z-index: -1;
  background-color: var(--blue-100);
  content: "";
  inset: 0;
  opacity: 0.25;
}

.switch-theme:is(:hover, :focus-visible)::after{
  opacity: 1;
}

html[scheme-mode="light"] .switch-theme:focus-visible{
  border: 0.1rem solid var(--blue-200);
}

html[scheme-mode="light"] .switch-theme .moon{
  display: none;
}

.switch-theme .sun,
html[scheme-mode="light"] .switch-theme .sun{
  display: initial;
  color: var(--orange-300)
}

html[scheme-mode="dark"] .switch-theme {
  outline-color: var(--blue-200);
}

html[scheme-mode="dark"] .switch-theme:focus-visible {
  border: 0.1rem solid var(--white);
}

html[scheme-mode="dark"] .switch-theme::after {
  background-color: var(--blue-200);
}

html[scheme-mode="dark"] .switch-theme .moon{
  display: initial;
  color: var(--blue-200)
}

html[scheme-mode="dark"] .switch-theme:is(:hover, :focus-visible) .moon{
  display: initial;
  color: var(--blue-100)
}

html[scheme-mode="dark"] .switch-theme .sun{
  display: none;
}