---
import "./switch-theme.css";

import { getPatternFromPathname } from "../../utils/getPatternFromPathname.js";

import { t } from "../../locales.json";

const { pathname } = Astro.url;
const { locale = "es" } = getPatternFromPathname({ pathname });
---

<button
  id="toggle-scheme"
  role="switch"
  aria-checked="false"
  class="switch-theme"
>
  <span class="sr-only">{t[locale].components.switchTheme.sr}</span>
  <svg
    viewBox="0 0 24 24"
    width="20"
    height="20"
    role="presentation"
    class="sun"
  >
    <use xlink:href="/images/icons.svg#sun"></use>
  </svg>
  <svg
    viewBox="0 0 24 24"
    width="20"
    height="20"
    role="presentation"
    class="moon"
  >
    <use xlink:href="/images/icons.svg#moon"></use>
  </svg>
</button>
