.language-switch{
  display: flex;
  overflow: hidden;
  height: max-content;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0;
  border: none;
  border-radius: 2rem;
  background-color: transparent;
  outline: 0.075rem solid var(--blue-100);
}

.language{
  position: relative;
  width: 100%;
  padding-block: 0.5rem;
}

.language::after{
  position: absolute;
  z-index: -1;
  display: inline-block;
  background-color: var(--blue-100);
  content: '';
  inset: 0;
  opacity: 0.25;
}

.language.left{
  padding-right: 0.7rem;
  padding-left: 1rem;
}

.language.right{
  padding-right: 1rem;
  padding-left: 0.7rem;
}

.language.right::after{
  border-radius: 0 2rem 2rem 0;
}

.language.left::after{
  border-radius: 2rem 0 0 2rem;
}

.language[data-selected="true"]::after{
  opacity: 0.8;
}

.language[data-selected="false"]:is(:hover, :focus-visible)::after{
  opacity: 1;
}

.language[data-selected="false"]:is(:focus-visible)::after{
  border: 0.1rem solid var(--blue-200);
}

.language svg{
  vertical-align: middle;
}

html[scheme-mode="dark"] .language-switch{
  outline-color: var(--blue-200);
}

html[scheme-mode="dark"] .language::after{
  background-color: var(--blue-200);
}

html[scheme-mode="dark"] .language[data-selected="false"]:is(:focus-visible)::after{
  border: 0.1rem solid var(--white);
}