<button id="language-menu">Inglés/Español</button>

<script>
  import { localeURL } from "../../utils/localeURL.js";
  import { getPatternFromPathname } from "../../utils/getPatternFromPathname.js";

  const $LanguageMenu = document.querySelector("#language-menu");

  $LanguageMenu.addEventListener("click", () => {
    const pathname = document.location;
    const { locale, collection, slug } = getPatternFromPathname(pathname);

    const newPath = localeURL({ locale, collection, slug });

    location.href = newPath;
  });
</script>
