---
import BaseLayout from '../../layouts/base-layout.astro';
import CardPost from '../../components/card-post.astro';

let allPosts = await Astro.glob('./*.md');
---

<style>
  h2{
    font: var(--heading-medium);
    margin-bottom: .75rem;
  }

  div{
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
</style>

<BaseLayout title="Blog | ferdinandalexa">
  <main>
    <h2>Blog</h2>
    <div>
      {
        allPosts.slice(0, 3).map((post) => (
          <CardPost 
            title={post.frontmatter.title}
            date={post.frontmatter.date}
            url={post.url}
          />
        ))
      }
    </div>
  </main>
</BaseLayout>
