:root{
      /* Color styles */
      --white: rgba(255, 255, 255, 1);
      --gray-50: rgba(248, 248, 248, 1);
      --gray-100: rgba(241, 241, 241, 1);
      --gray-200: rgba(209, 209, 209, 1);
      --gray-300: rgba(173, 173, 173, 1);
      --gray-400: rgba(136, 136, 136, 1);
      --gray-500: rgba(100, 100, 100, 1);
      --gray-600: rgba(64, 64, 64, 1);
      --gray-700: rgba(33, 33, 33, 1);
      --blue-50: rgba(229, 240, 255, 1);
      --blue-100: rgba(158, 194, 250, 1);
      --blue-200: rgba(43, 119, 238, 1);
      --blue-300: rgba(0, 72, 187, 1);
      --blue-400: rgba(0, 51, 136, 1);
      --blue-500: rgba(31, 46, 92, 1);
      --blue-600: rgba(20, 31, 61, 1);
      --blue-700: rgba(15, 24, 42, 1);
      --red-200: rgba(223, 32, 32, 1);
      --red-300: rgba(187, 27, 27, 1);
      --orange-200: rgba(244, 77, 39, 1);
      --orange-300: rgba(218, 50, 11, 1);
      --purple-200: rgba(168, 61, 245, 1);
      --purple-300: rgba(132, 11, 218, 1);
      --green-200: rgba(10, 194, 41, 1);
      --green-300: rgba(8, 155, 33, 1);
      --yellow-200: rgba(249, 196, 6, 1);
      --yellow-300: rgba(219, 173, 6, 1);
}