---
import "./hero.css";
---

<section class="hero">
  <div class="hero__info">
    <div>
      <h1 class="hero__title">¡Hola! Soy Fernando Yerena</h1>
      <h2 class="hero__subtitle">UI/UX Developer</h2>
    </div>
    <div class="hero__description">
      <p>
        Comprometido con el desarrollo de experiencias de usuario accesibles.
        Siempre estoy buscando oportunidades para mejorar mis habilidades.
      </p>
    </div>
    <div class="hero__actions">
      <a
        href="https://drive.google.com/file/d/1DIUGZ29UxDXn1bOgleWHiwdxL_N5-C9T/view?usp=sharing"
        target="_blank"
        rel="noopener nofollow"
        class="button fulfilled">Ver Currículum</a
      >
      <ul class="hero__links">
        <li>
          <a
            href="https://www.linkedin.com/in/ferdinandalexa/"
            class="contact-icon"
            aria-label="LinkedIn"
            target="_blank"
            rel="noopener nofollow"
          >
            <svg viewBox="0 0 24 24" width="48" height="48" role="presentation">
              <use xlink:href="/images/contact-icons.svg#linkedin"></use>
            </svg>
          </a>
        </li>
        <li>
          <a
            href="https://github.com/ferdinandalexa"
            class="contact-icon"
            aria-label="GitHub"
            target="_blank"
            rel="noopener nofollow"
          >
            <svg viewBox="0 0 24 24" width="48" height="48" role="presentation">
              <use xlink:href="/images/contact-icons.svg#github"></use>
            </svg>
          </a>
        </li>
        <li>
          <a
            href="https://www.behance.net/_ferdinandalexa"
            class="contact-icon"
            aria-label="Behance"
            target="_blank"
            rel="noopener nofollow"
          >
            <svg viewBox="0 0 24 24" width="48" height="48" role="presentation">
              <use xlink:href="/images/contact-icons.svg#behance"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <img
    src="/images/photo.jpg"
    alt=""
    class="hero__photo"
    width="240px"
    height="240px"
  />
</section>
