---
import "./hero.css";
---

<section class="hero">
  <div class="hero__info">
    <div>
      <h1 class="hero__title">¡Hola! Soy Fernando Yerena</h1>
      <h2 class="hero__subtitle">UI/UX Developer</h2>
    </div>
    <div class="hero__description">
      <p>
        Comprometido con el desarrollo de experiencias de usuario accesibles.
      </p>
      <p>Siempre estoy buscando oportunidades para mejorar mis habilidades.</p>
    </div>
    <menu class="hero__actions">
      <li><a class="button fulfilled">Descargar CV</a></li>
      <li class="contact-icon">
        <svg viewBox="0 0 24 24" width="48" height="48">
          <use xlink:href="/images/icons.svg#linkedin"></use>
        </svg>
      </li>
      <li class="contact-icon">
        <svg viewBox="0 0 24 24" width="48" height="48">
          <use xlink:href="/images/icons.svg#github"></use>
        </svg>
      </li>
      <li class="contact-icon">
        <svg viewBox="0 0 24 24" width="48" height="48">
          <use xlink:href="/images/icons.svg#behance"></use>
        </svg>
      </li>
    </menu>
  </div>
  <!-- Replace for photo and img tag -->
  <img
    src="/images/photo.jpg"
    alt=""
    class="hero__photo"
    width="240px"
    height="240px"
  />
</section>
