---
import "./hero.css";
---

<section class="hero">
  <div class="hero__info">
    <div>
      <h1 class="hero__title">¡Hola! Soy Fernando Yerena</h1>
      <h2 class="hero__subtitle">UI/UX Developer</h2>
    </div>
    <div class="hero__description">
      <p>
        Comprometido con el desarrollo de experiencias de usuario accesibles.
      </p>
      <p>Siempre estoy buscando oportunidades para mejorar mis habilidades.</p>
    </div>
    <menu class="hero__actions">
      <li><a href="#" class="button fulfilled">Descargar CV</a></li>
      <li>
        <a
          href="https://www.linkedin.com/in/ferdinandalexa/"
          class="contact-icon"
          aria-label="LinkedIn"
        >
          <svg viewBox="0 0 24 24" width="48" height="48" role="presentation">
            <use xlink:href="/images/icons.svg#linkedin"></use>
          </svg>
        </a>
      </li>
      <li>
        <a
          href="https://github.com/ferdinandalexa"
          class="contact-icon"
          aria-label="GitHub"
        >
          <svg viewBox="0 0 24 24" width="48" height="48" role="presentation">
            <use xlink:href="/images/icons.svg#github"></use>
          </svg>
        </a>
      </li>
      <li>
        <a
          href="https://www.behance.net/_ferdinandalexa"
          class="contact-icon"
          aria-label="Behance"
        >
          <svg viewBox="0 0 24 24" width="48" height="48" role="presentation">
            <use xlink:href="/images/icons.svg#behance"></use>
          </svg>
        </a>
      </li>
    </menu>
  </div>
  <!-- Replace for photo and img tag -->
  <img
    src="/images/photo.jpg"
    alt=""
    class="hero__photo"
    width="240px"
    height="240px"
  />
</section>
