---
import "./hero.css";

import { getPatternFromPathname } from "../../utils/getPatternFromPathname.js";

import { t } from "../../locales.json";

const { pathname } = Astro.url;
const { locale = "es" } = getPatternFromPathname({ pathname });
---

<section class="hero">
  <div class="hero__info">
    <div>
      <h1 class="hero__title" set:html={t[locale].components.hero.title} />
    </div>
    <div class="hero__description">
      <p>
        {t[locale].components.hero.description}
      </p>
    </div>
    <div class="hero__actions">
      <a
        href="https://docs.google.com/document/d/1oE5mfTuCx31MaGrfRiKUNFZXuRv71MQ4q0KSYlu0xSo/edit?usp=sharing"
        target="_blank"
        rel="noopener nofollow"
        class="button fulfilled">{t[locale].components.hero.cta}</a
      >
      <ul class="hero__links">
        <li>
          <a
            href="https://www.linkedin.com/in/ferdinandalexa/"
            class="contact-icon"
            aria-label="LinkedIn"
            target="_blank"
            rel="noopener nofollow"
          >
            <svg viewBox="0 0 24 24" width="48" height="48" role="presentation">
              <use xlink:href="/images/contact-icons.svg#linkedin"></use>
            </svg>
          </a>
        </li>
        <li>
          <a
            href="https://github.com/ferdinandalexa"
            class="contact-icon"
            aria-label="GitHub"
            target="_blank"
            rel="noopener nofollow"
          >
            <svg viewBox="0 0 24 24" width="48" height="48" role="presentation">
              <use xlink:href="/images/contact-icons.svg#github"></use>
            </svg>
          </a>
        </li>
        <li>
          <a
            href="https://www.behance.net/_ferdinandalexa"
            class="contact-icon"
            aria-label="Behance"
            target="_blank"
            rel="noopener nofollow"
          >
            <svg viewBox="0 0 24 24" width="48" height="48" role="presentation">
              <use xlink:href="/images/contact-icons.svg#behance"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <img
    src="/images/photo.jpg"
    alt=""
    class="hero__photo"
    width="240px"
    height="240px"
  />
</section>
