.project-header__type{
  color: var(--blue-300);
  font-size: var(--fs-2xlarge);
}

.project-header__title{
  color: var(--blue-300);
  font-size: var(--fs-4xlarge);
}

.project-header__description{
  max-width: 65ch;
  color: var(--blue-500);
  font-size: var(--fs-medium);
  line-height: 150%;
  margin-block: 0.5rem;
}

.project-header__tools span, .project-header__demo{
  color: var(--blue-500);
  font-size: var(--fs-medium);
  font-weight: var(--fw-bold);
}

.project-header__bottom{
  display: inline-flex;
  flex-wrap: wrap;
  gap: 0.5rem  1.5rem;
}

.project-header__tools{
  gap: 0.5rem ;
}

.project-header__tools,
.project-header__tools :is(ul, li){
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
}

.tool strong{
  width: max-content;
  font-size: var(--fs-medium);
  font-weight: var(--fw-regular);
  vertical-align: bottom;
}

.tool:nth-child(-n+2)::after{
  margin-right: 0.4rem;
  content: ",";
  font-size: var(--fs-medium);
  line-height: 150%;
}

.project-header__demo{
  vertical-align: revert;
}

.project-header__demo:is(:hover, :focus-within){
  color: var(--blue-300);
}

.project-header__demo svg{
  vertical-align: bottom;
}

.project-header__cover {
  width: 100%;
  margin-top: 2rem;
}

html[scheme-mode="dark"] :is(.project-header__type, .project-header__title){
  color: var(--blue-100);
}

html[scheme-mode="dark"] :is(.project-header__description, .project-header__tools :is(span, .tool), .project-header__demo){
  color: var(--blue-50);
}

html[scheme-mode="dark"] .project-header__demo:is(:hover, :focus-within){
  color: var(--blue-200);
}