*,
*::after,
*::before{
  box-sizing: border-box;
}

html,
body{
  height: 100%;
  margin: 0 auto;
  max-width: 768px;
}

body{
  display: grid;
  grid-template-rows: auto 1fr auto;
}

main{
  margin-top: 2rem;
  padding: 0 1rem;
}

h1, h2, h3, h4, h5, h6{
  margin: 0;
  color: var(--blue-300);
}

a{
  text-decoration: none;
  transition: var(--opacity-transition), var(--transform-transition);
}

a:hover{
  opacity: .5;
  transform: scale(.95);
}

a:visited{
  color: var(--blue-300);
}

ul, ol{
  list-style: none;
  margin: 0;
  padding: 0;
}

pre{
  border-radius: .5rem;
  padding: 1rem 0;
}

picture, 
img{
  display: block;
  margin: 0 auto;
  max-height: 420px;
  max-width: 640px;
  object-fit: contain;
  width: 100%;
}