*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
  padding-inline: 2rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

ul,
ol {
  padding: 0;
  margin: 0;
  list-style: none;
}

.button {
  display: inline-block;
  box-sizing: border-box;
  padding: 1rem 1.5rem;
  border-radius: 2rem;
  font-size: var(--fs-small);
  font-weight: var(--fw-bold);
  gap: 10px;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}

.button.fulfilled{
  border: 3px solid transparent;
  background-color: var(--blue-300);
  color: var(--white);
  transition: var(--color-transition);
}

.button.fulfilled:hover,
.button.fulfilled:focus{
  background-color: var(--blue-100);
  color: var(--white);
}

.button.ghost{
  border: 3px solid var(--blue-300);
  background-color: transparent;
  color: var(--blue-300);
}

.button.ghost:hover,
.button.ghost:focus{
  border: 3px solid var(--blue-100);
  color: var(--blue-100);
}

.contact-icon{
  display: inline-flex;
  color: var(--blue-300);
  transition: var(--color-transition);
}

.contact-icon:hover,
.contact-icon:focus{
  color: var(--blue-100);
}

body.dark .button.fulfilled{
  background-color: var(--blue-100);
  color: var(--blue-700);
}

body.dark :is(.button.fulfilled:hover,
.button.fulfilled:focus){
  background-color: var(--blue-200);
}

body.dark .button.ghost{
  border-color: var(--blue-100);
  color: var(--blue-100);
}

body.dark :is(.button.ghost:hover, .button.ghost:focus){
  border-color: var(--blue-200);
  color: var(--blue-200);
}

body.dark .contact-icon{
  color: var(--blue-100);
}

body.dark :is(.contact-icon:hover, .contact-icon:focus){
  color: var(--blue-200);
}