*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
  padding-inline: 2rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

ul,
ol {
  padding: 0;
  margin: 0;
  list-style: none;
}

.sr-only{
  position: absolute;
  display: block;
  overflow: hidden;
  width: 1px;
  height: auto;
  clip: rect(0 0 0 0);
  white-space: nowrap;
}

.button {
  display: inline-block;
  box-sizing: border-box;
  padding: 1rem 1.5rem;
  border-radius: 2rem;
  font-size: var(--fs-small);
  font-weight: var(--fw-bold);
  gap: 10px;
  letter-spacing: 0.1rem;
  text-align: center;
  text-transform: uppercase;
}

.button.fulfilled{
  border: 3px solid transparent;
  background-color: var(--blue-300);
  color: var(--white);
  transition: var(--color-transition);
}

.button.fulfilled:hover,
.button.fulfilled:focus-visible{
  background-color: var(--blue-100);
  color: var(--white);
}

.button.ghost{
  border: 3px solid var(--blue-300);
  background-color: transparent;
  color: var(--blue-300);
}

.button.ghost:hover,
.button.ghost:focus-visible{
  border: 3px solid var(--blue-100);
  color: var(--blue-100);
}

.button.inline{
  padding:  0 0 0 0.5rem;
  color: var(--blue-300);
}

.button.inline:hover,
.button.inline:focus-visible{
  color: var(--blue-100);
}

.contact-icon{
  display: inline-flex;
  color: var(--blue-300);
  transition: var(--color-transition);
}

.contact-icon:hover,
.contact-icon:focus-visible{
  color: var(--blue-100);
}

.list-container {
  display: flex;
  flex-direction: column;
  gap: 2.25rem;
}

.list-container.two-columns {
  display: grid;
  gap: 2.25rem;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
}

.section{
  margin-bottom: 8rem;
}

.section__title {
  margin-bottom: 2rem;
  color: var(--blue-300);
  font-size: var(--fs-3xlarge);
  font-weight: var(--fw-bold);
}

.full-width {
  width: 100%;
}

html[scheme-mode="dark"] body {
  background-color: var(--blue-700);
}

html[scheme-mode="dark"] .button.fulfilled{
  background-color: var(--blue-100);
  color: var(--blue-700);
}

html[scheme-mode="dark"] :is(.button.fulfilled:hover,
.button.fulfilled:focus-visible){
  background-color: var(--blue-200);
}

html[scheme-mode="dark"] .button.ghost{
  border-color: var(--blue-100);
  color: var(--blue-100);
}

html[scheme-mode="dark"] :is(.button.ghost:hover, .button.ghost:focus-visible){
  border-color: var(--blue-200);
  color: var(--blue-200);
}

html[scheme-mode="dark"] .button.inline{
  border-color: var(--blue-100);
  color: var(--blue-100);
}

html[scheme-mode="dark"] :is(.button.inline:hover, .button.inline:focus-visible){
  color: var(--blue-200);
}

html[scheme-mode="dark"] .contact-icon{
  color: var(--blue-100);
}

html[scheme-mode="dark"] :is(.contact-icon:hover, .contact-icon:focus-visible){
  color: var(--blue-200);
}

html[scheme-mode="dark"] .section__title {
  color: var(--blue-100);
}
