.space-problem h3{
  color: var(--blue-300);
  font-size: var(--fs-xlarge);
  font-weight: var(--fw-bold);
}

.space-problem p{
  color: var(--blue-500);
  font-size: var(--fs-medium);
  font-weight: var(--fw-regular);
}

html[scheme-mode="dark"] .space-problem :is(h3, p){
  color: var(--blue-50);
}