---
import BaseLayout from "../layouts/base-layout.astro";
---

<BaseLayout>
  <main>
    <p>
      No encontramos lo que buscas, pero puedes revisar el resto del contenido
    </p>
    <a href="/" class="button fulfilled">Revisar contenido</a>
  </main>
</BaseLayout>

<style>
  p {
    text-align: center;
    font-family: var(--ff-sans);
    font-size: var(--fs-2xlarge);
    color: var(--blue-500);
    margin: 0 auto 1.25rem;
  }

  :global(html[scheme-mode="dark"]) p {
    color: var(--blue-50);
  }

  main {
    display: grid;
    place-content: center;
    place-items: center;
    padding-bottom: 4rem;
    margin: auto;
    margin-top: 3rem;
    max-width: 65ch;
  }
</style>
