---
import BaseLayout from "../layouts/base-layout.astro";

import { getPatternFromPathname } from "../utils/getPatternFromPathname.js";

import { t } from "../locales.json";

const { pathname } = Astro.url;
const { locale = "es" } = getPatternFromPathname({ pathname });
---

<BaseLayout>
  <main>
    <p>
      {t[locale].sections.notFound.text}
    </p>
    <a href="/" class="button fulfilled">{t[locale].sections.notFound.cta}</a>
  </main>
</BaseLayout>

<style>
  p {
    text-align: center;
    font-family: var(--ff-sans);
    font-size: var(--fs-2xlarge);
    color: var(--blue-500);
    margin: 0 auto 1.25rem;
  }

  :global(html[scheme-mode="dark"]) p {
    color: var(--blue-50);
  }

  main {
    display: grid;
    place-content: center;
    place-items: center;
    padding-bottom: 4rem;
    margin: auto;
    margin-top: 3rem;
    max-width: 65ch;
  }
</style>
