---
import { getCollection } from "astro:content";

import BaseLayout from "../../../layouts/base-layout.astro";
import CardPost from "../../../components/card-post/card-post.astro";

let allPosts = await getCollection("blog", ({ data: { draft } }) => !draft);
---

<style>
  h2 {
    margin-bottom: 0.75rem;
    font: var(--heading-medium);
  }

  div {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
</style>

<BaseLayout title="Blog | ferdinandalexa">
  <main>
    <section aria-labelledby="blog-section" class="section">
      <h2 id="blog-section" class="section__title">Blog</h2>
      <div>
        {
          allPosts.map((post) => (
            <CardPost
              title={post.data.title}
              description={post.data.description}
              date={post.data.date}
              url={}
            />
          ))
        }
      </div>
    </section>
  </main>
</BaseLayout>
