.card-post {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: .5rem;
}

.card-post__title {
  display: inline-block;
  max-width: max-content;
}

.card-post__title a {
  color: var(--blue-500);
  font-size: var(--fs-large);
  font-weight: var(--fw-bold);
}

.card-post__title:hover a,
.card-post__title a:focus-visible{
  color: var(--blue-300);
}

.card-post__time-ago {
  color: var(--blue-500);
  font-size: var(--fs-base);
  font-weight: var(--fw-regular);
}

.card-post__description {
  height: 100%;
  color: var(--blue-500);
  line-height: 150%;
}

.card-post__action-inline {
  max-width: max-content;
  margin-top: 0.5rem;
  color: var(--blue-300);
  font-weight: var(--fw-bold);
  text-transform: uppercase;
}

.card-post__action-inline:hover,
.card-post__action-inline:focus-visible {
  color: var(--blue-100);
}

html[scheme-mode="dark"] :is(.card-post__title a,
.card-post__time-ago,
.card-post__description) {
  color: var(--blue-50);
}

html[scheme-mode="dark"] .card-post__action-inline {
  color: var(--blue-100);
}

html[scheme-mode="dark"] :is(.card-post__title:hover a,
.card-post__title a:focus-visible,
.card-post__action-inline:hover,
.card-post__action-inline:focus-visible) {
  color: var(--blue-200);
}