---
import Switch from "../switch.astro";

import "./header.css";
---

<header class="header">
  <nav class="navbar">
    <ul class="navbar__pages">
      <li><a href="/">Inicio</a></li>
      <li><a href="/">Curriculum</a></li>
      <li><a href="/es/proyectos">Proyectos</a></li>
    </ul>
  </nav>

  <Switch />
</header>
