---
import Switch from "../switch.astro";

import "./header.css";
---

<header class="header">
  <nav class="navbar">
    <ul class="navbar__pages">
      <li><a href="/">Inicio</a></li>
      <!-- <li><a href="/">Curriculum</a></li> -->
      <li><a href="/es/proyectos">Proyectos</a></li>
      <li>
        <a
          href="
        https://drive.google.com/file/d/1DIUGZ29UxDXn1bOgleWHiwdxL_N5-C9T/view?usp=sharing"
          target="_blank"
          rel="noopener nofollow">Curriculum</a
        >
      </li>
    </ul>
  </nav>

  <Switch />
</header>
