.navbar,
.navbar__pages {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header {
  --header-height: 64px;
  display: flex;
  width: 100%;
  min-height: var(--header-height);
  justify-content: space-between;
  margin: 1rem auto 0;
}

.logo {
  fill: var(--blue-300);
}

.logo:hover, .logo:focus-visible {
  color: var(--blue-50);
  fill: var(--blue-50);
}

.navbar{
  gap: 0.5rem;
}

.navbar button {
  position: relative;
  z-index: 2;
}

.navbar__pages {
  height: 100%;
  font-size: var(--fs-base);
  font-weight: var(--fw-bold);
}

.navbar__pages a {
  display: inline-block;
  padding: 0.75rem;
  color: var(--blue-500);
  vertical-align: bottom;
}

.navbar__pages li:first-child a {
  padding-left: 0;
}

.navbar button#open-nav{
  display: none;
  padding: 0.25rem;
  border: unset;
  border-radius: 4px;
  background-color: transparent;
  color: var(--blue-500);
}  

.navbar button#open-nav svg{
  display: block;
}

.navbar button#open-nav:is(:hover, :focus-visible){
  background-color: var(--blue-50);
}  

.navbar button#open-nav:active{
  color: var(--blue-100);
}  

.navbar__pages :is(a:hover, a:focus-visible) {
  color: var(--blue-300);
}

.menu{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.5rem;
}

html[scheme-mode="dark"] header .logo {
  color: var(--blue-50);
  fill: var(--blue-50);
}

html[scheme-mode="dark"] header :is(.logo:hover, .logo:focus-visible) {
  color: var(--blue-50);
  fill: var(--blue-200);
}

html[scheme-mode="dark"] nav a {
  color: var(--blue-50);
}

html[scheme-mode="dark"] nav a:is(a:hover, a:focus-visible) {
  color: var(--blue-200);
}

html[scheme-mode="dark"] .navbar button#open-nav {
  color: var(--blue-50);
}

html[scheme-mode="dark"] .navbar button#open-nav:is(:hover, :focus-visible) {
  background-color: var(--blue-500);
}

html[scheme-mode="dark"] .navbar button#open-nav:active {
  color: var(--blue-200);
}

@media screen and (max-width: 35rem){

  .navbar button#open-nav{
    display: initial;
  }
  
  .navbar button[aria-expanded="false"] + .navbar__pages{
    display: none;
  }

  .navbar__pages{
    position: absolute;
    z-index: 1;
    /* inset: 0; */
    top:0;
    right:0;
    bottom:0;
    left:0;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 5rem;
    background-color: var(--blue-50);
    font-size: var(--fs-large);
    gap: 1rem;
  }
  
  html[scheme-mode="dark"] .navbar__pages {
    background-color: var(--blue-500);
  }

  .navbar__pages li {
    width: 100%;
    padding-inline: 2rem;
  }
  
  .navbar__pages a {
    width: inherit;
  }

  .navbar__pages li:first-child a {
    padding-left: 0.75rem;
  }
}

@supports (inset: 0){
  .navbar__pages{
    inset: 0;
  }
}