---
import Switch from "../switch.astro";

import "./header.css";
---

<header class="header">
  <nav class="navbar">
    <button id="open-nav" aria-expanded="false">
      <svg viewBox="0 0 24 24" width="24" height="24" role="presentation">
        <use xlink:href="/images/icons.svg#menu"></use>
      </svg>
      <span class="sr-only">Menú</span>
    </button>
    <ul class="navbar__pages">
      <li><a href="/">Inicio</a></li>
      <li><a href="/es/proyectos">Proyectos</a></li>
      <li>
        <a
          href="
        https://drive.google.com/file/d/1DIUGZ29UxDXn1bOgleWHiwdxL_N5-C9T/view?usp=sharing"
          target="_blank"
          rel="noopener nofollow">Currículum</a
        >
      </li>
    </ul>
  </nav>

  <Switch />
</header>

<script>
  const $Menu = document.querySelector(".navbar button#open-nav");

  $Menu.addEventListener("click", () => {
    const currentAriaExpandedValue = $Menu.getAttribute("aria-expanded");
    const newAriaExpandedValue =
      currentAriaExpandedValue === "false" ? "true" : "false";
    $Menu.setAttribute("aria-expanded", newAriaExpandedValue);
  });
</script>
