---
import "./header.css";

import SwitchTheme from "../switch-theme/switch-theme.astro";
import LanguageMenu from "../language-menu/language-menu.astro";
import { getPatternFromPathname } from "../../utils/getPatternFromPathname.js";

import { t } from "../../locales.json";

const { pathname } = Astro.url;
const { locale = "es" } = getPatternFromPathname({ pathname });
---

<header class="header">
  <nav class="navbar">
    <button id="open-nav" aria-expanded="false">
      <svg viewBox="0 0 24 24" width="24" height="24" role="presentation">
        <use xlink:href="/images/icons.svg#menu"></use>
      </svg>
      <span class="sr-only">{t[locale].sections.navButtonMenu}</span>
    </button>
    <ul class="navbar__pages">
      {
        t[locale].components.navigation.map(({ href, name, external }) => {
          return (
            <li>
              <a
                href={href}
                target={external ? "_blank" : null}
                rel={external ? "noopener nofollow" : null}
              >
                {name}
              </a>
            </li>
          );
        })
      }
    </ul>
  </nav>

  <LanguageMenu />
  <SwitchTheme />
</header>

<script>
  const $Menu = document.querySelector(".navbar button#open-nav");

  $Menu.addEventListener("click", () => {
    const currentAriaExpandedValue = $Menu.getAttribute("aria-expanded");
    const newAriaExpandedValue =
      currentAriaExpandedValue === "false" ? "true" : "false";
    $Menu.setAttribute("aria-expanded", newAriaExpandedValue);
  });
</script>
