---
const { as, href, css = {} } = Astro.props;
---

<style>
  a,
  button {
    --bg-button: var(--blue-300);
    min-width: max-content;
    padding: 0.65rem 1rem;
    border-radius: 0.25rem;

    background-color: var(--bg-button);
    color: var(--white);
    text-align: center;
    transition: var(--transform-transition), var(--opacity-transition);
  }

  a:hover,
  button:hover {
    transform: scale(0.97);
  }

  :global(html[scheme-mode="dark"]) a,
  :global(html[scheme-mode="dark"]) button {
    --bg-button: var(--blue-200);
  }
</style>

{
  as === "button" ? (
    <button { href } style={css}>
      {" "}
      <slot />{" "}
    </button>
  ) : (
    <a { href } style={css}>
      {" "}
      <slot />{" "}
    </a>
  )
}
