---
const { title, date, url } = Astro.props;

const datePublish = new Date(date)
  .toLocaleDateString('es', { 
    "year": "numeric", 
    "month": "long", 
    "day": "numeric" 
  });
---

<script>
  
</script>

<style>
  a{
    background-color: var(--bg-card);
    border-radius: 0.5rem;
    border: 1px solid rgba(0,47,108,.03);
    box-shadow: 0 10px 10px -5px rgb(0 47 108 / 4%);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: end;
    min-height: 100px;
    padding: 1rem;
    transition: var(--transform-transition);
    width: 100%;
  }

  a h3{
    color: var(--c-card);
    font: var(--heading-base);
  }
  
  a time{
    color: var(--c-card-time);
    font: var(--action-small);
    word-spacing: -.35ch;
  }

  a:hover {
    opacity: unset;
    transform: scale(.99);
    background-color: var(--bg-card-hover);
  }

  a:hover h3{
    color: var(--c-card-hover);
  }
  
  a:hover time{
    color: var(--c-card-hover-time);
  }
</style>

<a href={ url } class="card">
  <h3>{ title }</h3>
  <div>
    <time datetime={date}>{ datePublish }</time>
  </div>
</a>