<style>
  footer{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    max-width: 768px;
    padding: 1rem 0;
    width: 100%;
  }

  @media (min-width: 768px){
    footer{
      margin-bottom: 1rem;
    }
  }

  footer div{
    margin-top: 1.5rem;
    text-align: center;
  }

  footer h3{
    color: var(--blue-300);
    font: var(--h4);
  }

  footer div ul{
    display: flex;
    gap: 1rem;
    justify-content: space-evenly;
    margin: 0 auto;
    margin-top: 5px;
    max-width: 300px;
  }

  ul a{
    display: inline-block;
    font: var(--anchor);
    color: var(--blue-300);
  }
</style>

<footer>
  <div>
      <h3>Sígueme en mis Redes Sociales</h3>
      <ul>
          <li>            
              <a href="https://twitter.com/_ferdinandalexa" target="_blank" rel="noopener nofollow">Twitter</a>
          </li>
          <li>            
              <a href="https://www.instagram.com/_ferdinandalexa/" target="_blank" rel="noopener nofollow">Instagram</a>
          </li>
          <li>            
              <a href="https://github.com/ferdinandalexa" target="_blank" rel="noopener nofollow">Github</a>
          </li>
      </ul>
  </div>
</footer>