---
import Logo from './icons/logo.astro';
import Switch from './switch.astro';
---

<style>
  header,
  div,
  nav, 
  nav > ul{
    align-items: center;
    display: flex;
    flex-direction: row;
  }

  header{
    --header-height: 64px;
    height: var(--header-height);
    margin: 0 auto;
    padding: 0 1rem;
    width: 100%;
    justify-content: space-between;
  }

  @media (min-width: 768px){
    header{
      margin-top: 1rem;
    }
  }

  header .logo{
    display: inline-flex;
    transition: var(--opacity-transition), var(--transform-transition);
  }

  header .logo:hover{
    opacity: 0.5;
    transform: scale(.95);
  }

  header > div{
    gap: .75rem;
  }

  nav > ul{
    font: var(--action-base);
    margin-top: .15rem;
    height: 100%;
    text-transform: uppercase;
  }

  nav a {
    display: inline-block;
    vertical-align: baseline;
    padding: .75rem;
  }

  nav li:first-child{
    padding-left: 0;
  }

  nav li:nth-child(n+2)::before{
    content: "|";
    color: var(--c-anchor);
    display: inline-block;
    opacity: .3;
  }
</style>

<header>
  <div>
    <a href="/" class="logo">
      <Logo size="28"/>
    </a>
    
    <nav>
      <ul>
        <li><a href="/">Inicio</a></li>
        <li><a href="/blog">Blog</a></li>
      </ul>
    </nav>
  </div>
  
  <Switch />
</header>