---
import Sun from "./icons/sun.astro";
import Moon from "./icons/moon.astro";
---

<div>
  <Sun />
  <button id="toggle-scheme" role="switch" aria-checked="false">
    <span class="sr-only">Habiltiar modo oscuro</span>
  </button>
  <Moon />
</div>

<style>
  div {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
  button#toggle-scheme {
    position: relative;
    display: flex;
    width: 2.2rem;
    height: 1.15rem;
    align-items: center;
    padding: 0;
    border: 2px solid var(--gray-300);
    border-radius: 100px;
    background-color: var(--gray-300);
    transform: scale(1.2);
  }

  button#toggle-scheme::after {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    border: 2px var(--gray-300) solid;
    border-radius: 100px;
    background-color: var(--white);
    content: "";
  }

  :global(html[scheme-mode="dark"]) button#toggle-scheme {
    border-color: var(--blue-200);
    background-color: var(--blue-200);
  }

  :global(html[scheme-mode="dark"]) button#toggle-scheme::after {
    border-color: var(--blue-200);
    transform: translateX(1rem);
  }
</style>
