.footer{
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding-block: 6rem;
}

.footer .contact-icon{
  align-items: center;
  color: var(--blue-500);
  font-size: var(--fs-large);
  font-weight: var(--fw-bold);
  gap: 0.375rem;
}

.footer :is(.contact-icon:hover, .contact-icon:focus-visible){
  color: var(--blue-300);
}


.footer .rrss ul{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  gap: 1.5rem;
}

.footer :is(.rrss, .email){
  margin-left: -0.35rem;
}

.footer__top{
  display: grid;
  gap: 1rem 2.25rem;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
}

.footer__section{
  margin-bottom: 0.5rem;
  color: var(--blue-500);
  font-size: var(--fs-large);
  font-weight: var(--fw-regular);
}

.footer .navbar ul{
  display: flex;
  flex-direction: row;
  margin-top: 0.5rem;
  font-weight: var(--fw-regular);
  gap: 1rem;
}

.footer .navbar a{
  color: var(--blue-500);
  font-size: var(--fs-medium);
}

.footer .navbar :is(a:hover, a:focus-visible){
  color: var(--blue-300);
}

html[scheme-mode="dark"] .footer :is(.footer__section, .contact-icon, .navbar a){
  color: var(--blue-50);
}

html[scheme-mode="dark"] .footer :is(.contact-icon:hover, .contact-icon:focus-visible, .navbar :is(a:hover, a:focus-visible)){
  color: var(--blue-200);
}