---
import "./footer.css";
---

<style></style>

<footer class="footer">
  <div class="footer__top">
    <div class="rrss">
      <h3 class="footer__section">Sígueme en:</h3>
      <ul>
        <li>
          <a
            href='https://www.linkedin.com/in/ferdinandalexa/"'
            target="_blank"
            rel="noopener nofollow"
            class="contact-icon"
          >
            <svg viewBox="0 0 24 24" width="36" height="36" role="presentation">
              <use xlink:href="/images/contact-icons.svg#linkedin"></use>
            </svg>
            LinkdIn
          </a>
        </li>
        <li>
          <a
            href="https://github.com/ferdinandalexa"
            target="_blank"
            rel="noopener nofollow"
            class="contact-icon"
          >
            <svg viewBox="0 0 24 24" width="36" height="36" role="presentation">
              <use xlink:href="/images/contact-icons.svg#github"></use>
            </svg>
            GitHub
          </a>
        </li>
        <li>
          <a
            href="https://github.com/ferdinandalexa"
            target="_blank"
            rel="noopener nofollow"
            class="contact-icon"
          >
            <svg viewBox="0 0 24 24" width="36" height="36" role="presentation">
              <use xlink:href="/images/contact-icons.svg#behance"></use>
            </svg>
            Behance
          </a>
        </li>
      </ul>
    </div>

    <div>
      <h3 class="footer__section">O envíame un mensaje a:</h3>
      <a href="mailto:me@ferdinandalexa.com" class="contact-icon email">
        <svg viewBox="0 0 24 24" width="36" height="36" role="presentation">
          <use xlink:href="/images/contact-icons.svg#email"></use>
        </svg>
        me@ferdinandalexa.com
      </a>
    </div>
  </div>

  <nav class="navbar">
    <ul>
      <li><a href="/">Inicio</a></li>
      <li><a href="/blog">Blog</a></li>
    </ul>
  </nav>
</footer>
